bidict
cachelib
certifi
chardet
click
colorclass
dnspython
docopt
dominate
eventlet
Flask
Flask-Bootstrap
Flask-Login
Flask-Session
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn @ git+https://github.com/benoitc/gunicorn.git@792edf6
idna
itsdangerous
flask-babel
numpy
Jinja2
MarkupSafe
pyparsing
python-engineio
python-socketio
requests
six
SQLAlchemy
terminaltables
Unidecode
urllib3
visitor
Werkzeug
WTForms
