  <!-- <script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}">
</script> -->
<script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}"></script>
{% extends "bootstrap/base.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}"/>
  {{super()}}
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
{% endblock %}
{% block title %}Romanian Whist {% endblock %}

{% block navbar %}
<span id="topnav">
    <a class="active" href="/">Romanian Whist</a>
<!--
    <a href="startgame" class="btn btn-default" role="button" aria-pressed="true">Start a Game</a>
    <a href="joingame" class="btn btn-default" role="button" aria-pressed="true">Join a Game</a>
    <a href="logout" class="btn btn-default" role="button" aria-pressed="true">Logout</a>
    <a href="login" class="btn btn-default" role="button" aria-pressed="true">Login</a>
-->

</span>
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  {% block content %}

{% block footer %}
  This game was created during the COVID19 pandemic to allow friends and family to have fun together. Contact information:
{% endblock %}

  {% endblock %}
