{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="startgame" class="btn btn-default" role="button" aria-pressed="true">Start a Game</a>
    <a href="logout" class="btn btn-default" role="button" aria-pressed="true">Logout</a>
    <a href="login" class="btn btn-default" role="button" aria-pressed="true">Login</a>

</div>
{% endblock %}

{% block content %}
  <h1>Welcome !!!!</h1>
{% endblock %}
