<!-- <script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}">
</script> -->
{% extends "bootstrap/base.html" %}

{% block title %}Romanian Whist {% endblock %}

{% block navbar %}
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="startgame" class="btn btn-default" role="button" aria-pressed="true">Start a Game</a>
    <a href="joingame" class="btn btn-default" role="button" aria-pressed="true">Join a Game</a>
    <a href="logout" class="btn btn-default" role="button" aria-pressed="true">Logout</a>
    <a href="login" class="btn btn-default" role="button" aria-pressed="true">Login</a>

</div>
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  {% block content %}
    <script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}">
    </script>
  {% endblock %}
