<div id = "user_guide">
      <h2> Guide de l'utilisateur </h2>
      <h3> Créer et rejoindre un jeu </h3>
      Vous pouvez soit créer un nouveau jeu, soit rejoindre un jeu existant. Quelqu'un doit d'abord créer un jeu.
      Ensuite, le créateur du jeu doit informer les autres joueurs de l'identifiant du jeu afin qu'ils puissent rejoindre le nouveau
      jeu créé.
      <p> Lors de la création ou de la participation à une partie, chaque joueur doit spécifier son alias pour la partie. L'ordinateur ne joue pas, donc tout
      les joueurs doivent être de vraies personnes </p>
      <p> Lors de la création du jeu, on peut spécifier le nombre de points qu'un joueur ou une équipe doit atteindre pour gagner le jeu </p>

      <h3> Lecture </h3>
      Chaque fois qu'un joueur doit faire quelque chose (enchérir ou jouer), l'alias du joueur
      clignote pour rappeler au joueur qu'il doit faire quelque chose.
      Pour jouer une carte, cliquez simplement sur cette carte. Les cartes qui peuvent être jouées ont une bordure verte.
       <p> Résumé des règles de jeu: </p>
      <ul>
        <li> Il faut toujours jouer la couleur demandé. Si la couleur demandée est un atout, alors il faut jouer un atout supérieur à
          la plus haute carte jouée si possible. </li>
        <li> Si quelqu'un n'a pas de carte de la couleur demandée, et si son partenaire n'a pas joué la carte gagnante (ou n'a pas encore joué),
          il faut jouer un atout si possible. Sinon, on peut jouer n'importe quelle carte. </li>
        <li> Si un joueur d'une autre équipe a déjà coupé et remporte la manche, et qu'il faut couper, alors il faut couper
          au-dessus de cette carte de joueur, si ce n'est pas possible, il faut jouer un petit atout. </li>
        <li> Si un partenaire gagne la manche et que l’un d’autre n’a pas la couleur demandée, il peut jouer la carte qu’il souhaite </li>
      </ul>
      <h3> Notation </h3>
      Les points de la main actuelle sont affichés dans les champs «Points». Le score représente le score global pour chaque
      joueur ou équipe.
  </div>
