
{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/game_common.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/belote.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/belote.css') }}"/>
<script type="text/javascript">

  // Note that js cannot be separated from html as JINJA2 expressions are not
  // processed then during rendering

  var socket;
  var username = "{{ session['username'] }}";
  var ownername = "{{ session['ownername'] }}";
  var new_round = true;
  var first_card;
  var last_dealer;
  var static_folder={{ url_for('static', filename='') }}
  var trump_suit = ""
  var the_players
  var bool = {"True": true, "False": false}
  var i18n_json = {{ i18n|tojson }}
  var i18n = JSON.parse(i18n_json);
  console.log("Contree status: " + "{{ contree_status }}")
  console.log("Current bet: " + "{{ current_bet }}")

  populate_header ("{{ session['username'] }}", "{{ session['game_id'] }}",
                   "{{ url_for('static', filename='img/contree.jpg') }}")

  document.addEventListener('DOMContentLoaded', () => {

    setup_alertify()

    the_players = {{ players|safe }}
    initialize(the_players)

    // If 4 players already, disable add ai button
    if (the_players.length >= 4) {
      $("#add_ai").prop("disabled", true)
    }
    else {
      $("#add_ai").prop("disabled", false)
    }


    console.log("player_with_belote: " + "{{ player_with_belote }}")
    console.log("belote_allowed: " + "{{ belote_allowed }}")
    belote_allowed = bool["{{ belote_allowed }}"]

    if (username == "{{ player_with_belote }}") {
      // TODO: need to know whether to put belote or rebelote on button
      add_belote_button(belote_allowed, "Belote")
    }
    else {
      // Remove belote button
      $("#belote").remove()
    }

    {% if cards_played != None %}
      {% for key, value in cards_played.items() %}
      add_card_to_table("{{ key }}", "{{ value }}")
      {% endfor %}
    {% endif %}

    if ("{{ game_phase }}" == "BET" || "{{ game_phase }}" == "BET2") {
      make_player_the_better("{{ active_player }}", "#bets_suit_", "#bets_points_");
      make_player_active("{{ active_player }}");
    }

    if ("{{ game_phase }}" == "PLAY") {
      make_player_play("{{ active_player }}", "{{ allowed_cards }}");
    }

    // Register action for bet suit input field
    id_bet_suit = "#bets_suit_" + username

    $(id_bet_suit).change(function() {
      bet_suit = $(id_bet_suit + " option:selected").val();
      console.log("Bet suit: " + bet_suit)
      if (bet_suit == "pass" || bet_suit == "contre" || bet_suit == "surcontre"){
        socket.emit("player bet", bet_suit, 0);
      }
      else if (bet_suit != "select") {
        id_bet_points = "#bets_points_" + username
        $(id_bet_points).prop("disabled", false)
      }
      return
    });

    // Register action for bet points input field
    id_bet_points = "#bets_points_" + username
    $(id_bet_points).change(function() {
      id_bet_points = "#bets_points_" + username
      bet_points = $(id_bet_points + " option:selected").val();
      if (bet_points != "select") {
        bet_suit = $(id_bet_suit + " option:selected").val();
        console.log("Bet:" + bet_points)
        socket.emit("player bet", bet_suit, bet_points);
        //$(id_bet + " [readonly=readonly] option:not(:selected)").prop('disabled', true);
        $(id_bet_points).prop("disabled", true)
        $(id_bet_suit).prop("disabled", true)
      }
      return
    });

    enable_start_game();
    // Allow start button when numbe of players is between 2 and 4
    if (the_players.length != 4) {
      $("#start_game").prop('disabled', true);
    }

    function add_belote_button(enabled, text) {
      $("#belote_button_div").append('<button id="belote" type="button" class="btn-primary" name="belote">' + text + '</button>');
      document.getElementById("belote").onclick = function() {
        announced = $("#belote").text()
        socket.emit('belote announced', announced);
        console.log ("Belote announced")
        // TODO: change allowed cards to only allow queen and king of trump?
      }
      console.log("In add_belote_button enabled is" + enabled)
      if (enabled == false) {
        $("#belote").prop("disabled", true)
      }
    }

    // Connect to websocket
    console.log("Connecting to io")
    socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/contree');
    socket.on('connect', function() {
      console.log("Connected to io")

      // Register user - only used here to cover the case of
      // first player joining. DO NOT REMOVE
      socket.emit('join game', {data:''});

    });

    socket.on('sc game started', function(data) {
      game_started(data)
    });

    socket.on('new hand', function(data) {
      console.log("new hand event received")
      new_hand(data, "{{ url_for('static', filename='') }}")

      // Required to properly refresh the bet fields
      window.location.reload(false);
    });

    socket.on('belote announced', function(data) {
      belote_announced(data)
    });

    socket.on('belote rebelote enabled', function(data) {
      // Add Belote/Rebelote button
      console.log("Belote / Rebelote possible")
      add_belote_button(true, "Belote")
    });

    socket.on('belote played', function(data) {
      // Add Belote/Rebelote button
      $("#belote").text("Rebelote")
    });

    socket.on('rebelote played', function(data) {
      // Disable Belote/Rebelote button
      $("#belote").remove()
    });

    socket.on('belote lost', function(data) {
      belote_lost(i18n["belote_points_lost"])
    });

    socket.on('player to bet', function(data) {
      console.log("player to bet event received")
      player_name = data['player']
      allowed_bets = data['allowed_bets']
      allowed_bets_suits = allowed_bets[0]
      allowed_bet_points = allowed_bets[1]

      let id_bet_suit = "#bets_suit_" + player_name
      let id_bet_points = "#bets_points_" + player_name

      // Highlight Username
      make_player_active(player_name);
      make_player_the_better(player_name, "#bets_suit_", "#bets_points_")

      $(id_bet_suit).empty();
      $(id_bet_points).empty()

      let html = ""
      html = html.concat('<select name="bets_points" id="bets_points_{{ player }}">')
      html = html.concat('<option value="select" selected>' + i18n["select"] + '</option>')
      for (i in allowed_bet_points) {
        html = html.concat('<option value="' + allowed_bet_points[i] + '">' + allowed_bet_points[i] + '</option>')
      }
      html = html.concat('</select>')
      $(id_bet_points).html(html)

      html = ""
      html = html.concat('<select name="bets_suit" id="bets_suit_{{ player }}">')
      html = html.concat('<option value="select" selected>' + i18n["select"] + '</option>')
      for (i in allowed_bets_suits) {
        html = html.concat('<option value="' + allowed_bets_suits[i] + '">' + i18n[allowed_bets_suits[i]] + '</option>')
      }
      html = html.concat('</select>')
      $(id_bet_suit).html(html)

      if (username != player_name) {
        $(id_bet_points).prop("disabled", true)
        $(id_bet_suit).prop("disabled", true)
      }
    });

    socket.on('player bet', function(data) {
      console.log("player bet event received")
      player_name = data['player']
      bet_suit = data['bet_suit']
      bet_points = data['bet_points']
      current_bet = data['current_bet']
      contree_status = data['contree_status']
      taker = data['taker']

      console.log("bet is: " + bet_suit)
      let id_bet_suit = "#bets_suit_" + player_name
      let id_bet_points = "#bets_points_" + player_name

      idx = $(id_bet_suit).find('option[value="' + bet_suit + '"]').index()
      $(id_bet_suit).get(0).selectedIndex = idx

      idx = $(id_bet_points).find('option[value="' + bet_points + '"]').index()
      $(id_bet_points).get(0).selectedIndex = idx

      make_player_inactive(player_name);
      $(id_bet_suit).removeClass("highlighted_field");
      $(id_bet_points).removeClass("highlighted_field");

      console.log ("Contree status: " + contree_status)
      console.log ("Current bet: " + current_bet)

      $("#bet_status").html('')
      if (current_bet != 'None' && current_bet != 'pass_0') {
        $("#bet_status").append('<label class="trump_caption">' + taker + " - " + current_bet["points"] + " / " + i18n[current_bet["suit"]] + '</label>')
      }

      if (contree_status == "Contree") {
        $("#bet_status").append('<br><label class="trump_caption">' + i18n['contré'] + '!' + '</label>')
      }
      else if (contree_status == "Surcontree") {
        $("#bet_status").append('<br><label class="trump_caption">' + i18n['surcontré'] + '!' + '</label>')
      }
    });

    socket.on('player to play', function(data) {
      player_to_play(data)
    })

    socket.on('hand completed', function(data) {
      hand_completed(data)

      for (var i in the_players) {
        let player = the_players[i]
        // Reset the bid selection list
        let bet_id_suit = "#bets_suit_" + player
        idx = $(id_bet_suit).find('option[value="Select"]').index()
        console.log("idx: " + idx)
        $(id_bet_suit).get(0).selectedIndex = idx

        bet_id_points = "#bets_points_" + player
        $(bet_id_points).empty()
      }
    });

    socket.on('card played', function(data) { card_played_event(data) })

    socket.on('new player', function(player_name) { new_player(player_name) })

    socket.on('player left', function(player_name) {
      if (player_name.localeCompare(username) != 0) {

        $("#" + player_name).remove();
        $("#label_" + player_name).remove();

        let id_round = "#rounds_" + player_name;
        $(id_round).parent().remove()
        id_round = "#label_rounds_" + player_name;
        $(id_round).parent().remove();

        let id_score = "#score_" + player_name;
        $(id_score).parent().remove()
        id_score = "#label_score_" + player_name;
        $(id_score).parent().remove()

        show_alert(i18n["user"] + " " + player_name + " " + i18n["left_game"], "Warning")
      }
    });

    socket.on('trump suit', function(trump) {
      console.log("trump suit event received");
        // Update trump_suit
        trump_suit = trump
        // $('#trump_card').html('')
        // $("#trump_card").append('<label class="trump_caption">' + i18n['trump'] + ': ' + i18n[trump_suit] + '</label>')
    })

    socket.on('round ended', function(data) {
      round_ended(data)
      let points = data['points']
      let id_rounds = "rounds_" + player_name

      for (player in points) {
        let id_rounds = "rounds_" + player
        document.getElementById(id_rounds).value = points[player]
      }
    });

    socket.on('clear round', function() { clear_round() });

    socket.on('game over', function(winners) { game_over(winners) })

    socket.on('msg posted', function(data) { msg_posted(data) });

    socket.on('alert', function(msg) {
      show_alert(msg, "Warning");
    });
  });


</script>

<div class="table-responsive">
  <br>
  <table class="table-with-padding">
    <tr id="players">
      {% for player in players -%}
      <td id="label_{{ player }}" ></td>
      <td id="name_{{ player }}" name="player" class="normal_player">{{ player }} </td>
      {% endfor %}
      {% if players|length == 4 %}
      <script>
        i = 0
        {% for player in players -%}
          if (i%2 == 0 ) {
            $("#name_{{ player }}").addClass("team_1_player")
          }
          else {
            $("#name_{{ player }}").addClass("team_2_player")
          }
          i++
        {% endfor %}
      </script>
      {% endif %}
    </tr>
    <tr id="bets">
      {% for player in players -%}
      <td class="td_player_info_label">
        <label for="bets_{{ player }}" id="label_bets_{{ player }}" class="player_info">{{ _('bid') }}</label>
      </td>
      <td class="td_player_info">
        <script>
<!--          console.log("{{ bets_suit[player] }}")-->
<!--          console.log("{{ bets_points[player] }}")-->
        </script>
        <select name="bets_suit" id="bets_suit_{{ player }}" disabled>
          {% if bets_suit[player] != "" %}
            <option value="{{ bets_suit[player] }}" selected>{{ _(bets_suit[player]) }}</option>
          {% else %}
            <option value="select" selected>{{ _("select") }}</option>
          {% endif %}
          {% for bet in allowed_bets[0] -%}
              <option value="{{ bet }}">{{ _(bet) }}</option>
          {% endfor %}
        </select>
        <select name="bets_points" id="bets_points_{{ player }}" disabled>
          {% if bets_points[player] != "" %}
            <option value="{{ bets_points[player] }}" selected>{{ _(bets_points[player]) }}</option>
          {% else %}
            <option value="select" selected>{{ _("select") }}</option>
          {% endif %}
          {% for bet in allowed_bets[1] -%}
              <option value="{{ bet }}">{{ _(bet) }}</option>
          {% endfor %}
        </select>
      </td>
      {% endfor %}
    </tr>
    <tr id="rounds">
      {% for player in players -%}
      <td class="td_player_info_label" >
        <label for="rounds_{{ player }}"  id="label_rounds_{{ player }}" class="player_info">{{ _('points') }}</label>
      </td>
      <td class="td_player_info" >
        <input type="number" id="rounds_{{ player }}" name="rounds" class="player_info" min=0 max=18 readonly value={{ wins[player] }}>
      </td>
      {% endfor %}
    </tr>
    <tr id=scores>
      {% for player in players -%}
      <td class="td_player_info_label" >
        <label for="score_{{ player }}"  id="label_score_{{ player }}" class="player_info">{{ _('score') }}</label>
      </td>
      <td class="td_player_info" >
        <input type="number" id="score_{{ player }}" name="score" class="player_info" min=0 max=99 readonly value={{ scores[player] }}>
      </td>
      {% endfor %}
    </tr>
  </table>
</div>
<br>
<div id = "#dialog-message">
</div>
<div id="card-table-burgundy" class="container">
  <div class="bottomright" id="trump_card">
  </div>
  <div class="bottomright" id="bet_status">
    {% if current_bet.suit != "pass" and current_bet is not none %}
      <label class="trump_caption">{{ taker }} - {{ current_bet['points'] }} / {{ _(current_bet['suit']) }}</label>
    {% endif %}
    <br>
    {% if contree_status == "Contree" %}
      <label class="trump_caption">{{ _('contré') }}!</label>
    {% elif contree_status.value== "Surcontree" %}
      <label class="trump_caption">{{ _('surcontré') }}!</label>
    {% else %}
      <label class="trump_caption"></label>
    {% endif %}

  </div>
  <div id="cards_played">
  </div>
</div>

{% include 'msg_container.html' %}

<!-- Player cards section-->
<div>
  <form id="game_form" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <br>
    <input type="hidden" id="action_game" name="action_game" value="">
    <div>
      <div class="col-md-12" id="cards">
        <table>
          <br>
         <tr>
          <!-- <tr id="cards"></tr> -->
          {% for card in hand -%}
          <td>
            <img id= "{{ card }}" src="{{ url_for('static', filename='') }}img/{{ card }}.svg" class="card_hand">
            <!-- <img id= "{{ card }}" src="{{ url_for('static', filename='') }}img/{{ card }}.svg" onclick=card_played({{ card }})> -->
          </td>
          {% endfor %}
          </tr>
          </table>
      </div>
    </div>

    {% include 'chat.html' %}

    <div>
      <div id="game_action_buttons" class="btn-toolbar">
        <p><br>
      </div>
    </div>

    <div id="scoresheet_div">
      <br/>
      <h4 class="div_title">Scoresheet</h4>
      <!-- <table id="scoresheet_table" class="table-no-padding-border padding-between-cols"> -->
      <table id="scoresheet_table" class="table-no-padding-border table table-sm table-bordered">
        <thead>
          <tr>
            {% for player in players -%}
            <th class="td_player_info">{{player}}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody id="scoresheet_body">
        {% for scores_hand in scoresheet -%}
        <tr>
          {% for player in players -%}
          <td>
            <table>
              <tr>
                <td class="scoresheet_nb">{{scores_hand[player]}}</td>
              </tr>
            </table>
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
       </tbody>
      </table>
    </div>
  </form>
</div>

{% endblock %}
