{% extends "base.html" %}


<!-- TODO:
Block deal button during round play
Select number of cards in deck (sans atout)
Configure score counting?
Persistence?
UI enhancements
-->
{% block navbar %}
{{ super() }}
<p class="game_page_title">Game ID: {{ session['game_id'] }} - You are: {{ session['username'] }}</p>
{% endblock %}

{% block content %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}"/>

<!-- <script src="{{ url_for('static', filename='js/game.js') }}"></script> -->

<script type="text/javascript">

  var socket;
  var username = "{{ session['username'] }}";
  var forbidden_bet;
  var last_player;
  var new_round = true;
  var first_card;


  function RecursiveUnbind($jElement) {
      // remove this element's and all of its children's click events
      $jElement.unbind();
      $jElement.removeAttr('onclick');
      $jElement.children().each(function () {
          RecursiveUnbind($(this));
      });
  }

  function make_players_inactive() {
    $('player').each(function( index ) {
      $(this).removeClass("active_player");
      $(this).addClass("normal_player");
    })
  }

  function make_player_inactive(player_name) {
    $("#"+player_name).addClass("normal_player");
    $("#"+player_name).removeClass("active_player");
  }

  function make_player_active(player_name) {
    make_players_inactive()
    $("#"+player_name).removeClass("normal_player");
    $("#"+player_name).addClass("active_player");
  }

  function card_played (card) {

    // Remove card from hand being displayed
    document.getElementById(card).remove();

    // Emit an event indicating a card has been card_played
    socket.emit('player played', {data:card});

    // Prevent player from playing again until round is finished
    RecursiveUnbind($('#cards'));

    make_player_inactive(username);
    // $("#"+username).removeClass("active_player");
    // $("#"+username).addClass("normal_player");
  }

  document.addEventListener('DOMContentLoaded', () => {

    $('#nb_cards').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });

      // Connect to websocket
      socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

      // When connected, configure buttons
      socket.on('connect', function() {

          // Register user - only used here to cover the case of
          // first player joining. DO NOT REMOVE
          socket.emit('join game', {data:''});

          document.getElementById("deal").onclick = function() {
            let trump_flag = $("#trump").is(":checked");
            socket.emit('start hand', document.getElementById("nb_cards").value,
                                      trump_flag);
            make_players_inactive();
            // $("#"+username).removeClass("active_player");
            // $("#"+username).addClass("normal_player");

          };

          // document.getElementById("leave_game").onclick = function() {
          //   socket.emit('leave game');
          // };

          // document.getElementById("stop_game").onclick = function() {
          //   socket.emit('stop game');
          // }

          // Register action for bet input field
          let id_bet = "#bets_" + username
          $(id_bet).change(function() {
            bet = parseInt($(id_bet).val(),10);
            if (bet == forbidden_bet) {
               alert ("This bet is not allowed")
            }
            else {
              $(id_bet).attr('readonly', true);
              // $("#"+username).removeClass("active_player");
              // $("#"+username).addClass("normal_player");
              make_player_active(username);
              socket.emit("player bet", $(id_bet).val())
            }
          });
      });


      socket.on('new hand', function(data) {
          make_players_inactive();
          $('#trump_card').html('')
          $('#cards').html('');
          $('#cards_played').empty()

          // $('#cards').append('<ul>');
          for (var card_index in data) {
              // $('#cards').append('<br>' + data[card])
              let card =data[card_index]
              let image = 'img/' + card + ".svg"
              // let card = data[card]
              $('#cards').append('<td>'+
                "<img id=" + card + " src={{ url_for('static', filename='') }}" +
                image + ' alt=' + card + ' class="card_hand"' + '>' + '</td>')

              // Reset bets and wins to 0
              $('#rounds input').val(0);
              $('#bets input').val("");
          }
      });

      socket.on('player to bet', function(data) {
        player_name = data['player']
        forbidden_bet = data['forbidden_bet']

        // Enable the bet field if user is supposed to bet
        let id_bet = "#bets_" + player_name
        if (player_name == username) {
          $(id_bet).attr('readonly', false);
        }
        else {
          $(id_bet).attr('readonly', true);
        }
        // Highlight Username
        make_player_active(player_name);
        // $("#"+player_name).removeClass("normal_player");
        // $("#"+player_name).addClass("active_player");
      });

      socket.on('player bet', function(data) {
        // Enable the bet field
        player_name=data['player']
        bet=data['bet']
        let id_bet = "#bets_" + player_name
        $(id_bet).val(bet);
        make_player_inactive(player_name);
        // $("#"+player_name).removeClass("active_player");
        // $("#"+player_name).addClass("normal_player");
      });

      socket.on('player to play', function(data) {
        // Enable the cards in hand to be played
        // $("#"+player_name).addClass("active_player");
        // $("#"+player_name).removeClass("normal_player");
          player_name=data['player']
          allowed_cards = data['allowed_cards']
          make_player_active(player_name);
          if (player_name === username) {
            // TODO: only enable for allowed list of cards
            $( '#cards img').each(function( index ) {
              card = $(this).attr('id');
              if (allowed_cards.indexOf(card) > -1) {
                $(this).bind("click", (function () {
                    card_played($(this).attr('id'))
                  }));
              }});
          }
          //     })
          //     console.log( index + ": " + $( this ).text() );
          //   });
          //   $('#cards img').bind("click", (function () {
          //       card_played($( this ).attr('id'))
          // }))
      });

      socket.on('hand completed', function(data) {
        player_name=data['player_to_deal']
        scores=data['scores']
        show_alert("Hand completed. Next dealer is: " + player_name,"alert alert-warning")
        Object.keys(scores).forEach(function(player) {
          score = scores[player];
          let id_score = "#score_" + player
          $(id_score).val(score);
        });
        let image = 'img/' + trump_card + ".svg"
        $('#trump_card').html('')
      });

      socket.on('card played', function(data) {
          if (new_round) {
            $('#cards_played').empty();
            new_round = false;
            first_card = data['card'];
          }
          let player_name = data['player']
          let card = data['card']
          // Display card on table

          let image = 'img/' + card + ".svg"
          let card_table_id='#' + card + "_table"
          // $(cards_played).append("<figure>");
          $('#cards_played').append("<img id=" + card + "_table"+ " src={{ url_for('static', filename='') }}" +
          image + ' alt=' + card + ' class="card_table"' + '>')
          // $(cards_played).append("<figcaption><h3 class='trump_caption'>" + player_name +"</h3></figcaption>");
          // $(cards_played).append("</figure>");
          make_player_inactive(player_name);
          // $("#"+player_name).removeClass("active_player");
          // $("#"+player_name).addClass("normal_player");
          last_player = player_name
      });

      socket.on('new player', function(player_name) {
        socket.emit('join game', player_name);
        window.location.reload(false);
      });

      socket.on('player left', function(player_name) {
        socket.emit('leave game', player_name);
        if (player_name.localeCompare(username) != 0) {
          window.location.reload(false);
        }
      });

      socket.on('trump card', function(trump_card) {
          let image = 'img/' + trump_card + ".svg"
          $('#trump_card').html('')
          $('#trump_card').append("<figure>");
          $('#trump_card').append("<img src={{ url_for('static', filename='') }}" +
          image + ' alt=' + trump_card + 'width=80 height=80' + '>');
          $('#trump_card').append("<figcaption><h3 class='trump_caption'>Trump</h3></figcaption>");
          $('#trump_card').append("</figure>");
          // $('#trump_card').append("Trump")
      });

      socket.on('round ended', function(player_name) {
          show_alert("Rounded ended. Winner is " + player_name,"alert alert-info")
          make_player_inactive(last_player);
          // $("#"+last_player).removeClass("active_player");
          // $("#"+last_player).addClass("normal_player");

          let id_rounds = "rounds_" + player_name
          var value = parseInt(document.getElementById(id_rounds).value, 10);
          value++;
          document.getElementById(id_rounds).value = value;
          new_round = true
        // });
      });
  });
  function show_alert(message,alerttype) {
    $('#alert_placeholder').append('<div id="alertdiv" class="alert ' +  alerttype + '"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>')
    setTimeout(function() {
      $("#alertdiv").remove();
    }, 5000);
  }
</script>
<!--
COuld embedd the following html in a script as shown under so it can be re-used on player joined event
rather than refreshing page
  <script id="blockOfStuff" type="text/html">
      Here's some random text.
      <h1>Including HTML markup</h1>
      And quotes too, or as one man said, "These are quotes, but
      'these' are quotes too."
  </script>
 -->

    <div class="table-responsive">
    <table class="table">
      <tr id="players">
        {% for player in players -%}
          <td id="{{ player }}" name="player" class="normal_player">{{ player }} </td>
        {% endfor %}
      </tr>
      <tr id="bets">
        {% for player in players -%}
          <td>
            <label for="'bets_' + {{ player }}" class="player_info">Bets</label>
            <!-- TODO: should set bet to '' if it is -1 -->
            {% if bets[player] == -1 %}
              <input type="number" id="bets_{{ player }}" class="player_info" name="bets" min=0 max=18 value='' readonly>
            {% else %}
              <input type="number" id="bets_{{ player }}" class="player_info" name="bets" min=0 max=18 value={{ bets[player] }} readonly>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
      <tr id="rounds">
        {% for player in players -%}
          <td>
            <label for="'rounds_' + {{ player }}" class="player_info">Wins</label>
            <input type="number" id="rounds_{{ player }}" name="rounds" class="player_info" min=0 max=18 readonly value={{ wins[player] }}>
          </td>
        {% endfor %}
      </tr>
      <tr id=scores>
        {% for player in players -%}
          <td>
            <label for="'score_' + {{ player }}" class="player_info">Score</label>
            <input type="number" id="score_{{ player }}" name="score" class="player_info" min=0 max=99 readonly value={{ scores[player] }}>
          </td>
        {% endfor %}
      </tr>
    </table>
  </div>

  <div id="alert_placeholder"></div>

  <div id="card-table" class="container">
    <div class="bottomright" id="trump_card">
    </div>
    <div id="cards_played">
      <!-- TODO populate on refresh -->
    </div>
  </div>

  <div>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div class="container">
        <div class="col-md-8">
          <div class="form-group">
            <br>
            {{ form.nb_cards.label(class="deal") }}
            {{ form.nb_cards(size=2) }}
            {{ form.trump.label(class="deal") }}
            {{ form.trump }}
            <button id="deal" class="btn btn-primary" name="deal" type="button">Deal</button>
          </div>
          <br>
        </div>
      </div>
      <div>
        <div class="col-md-12" id="cards">
          <!-- <tr id="cards"></tr> -->
          {% for card in hand -%}
          <td>
            <img id= "{{ card }}" src="{{ url_for('static', filename='') }}img/{{ card }}.svg" class="card_hand">
            <!-- <img id= "{{ card }}" src="{{ url_for('static', filename='') }}img/{{ card }}.svg" onclick=card_played({{ card }})> -->
          </td>
          {% endfor %}
        </div>
        <br><br>
      </div>
      <div class="container">
        <div class="col-md-6">
          <!-- <div class="btn-group"> -->
          <br><br>
          {{ form.restart_game(class="btn btn-warning") }}
          {{ form.leave_game(class="btn btn-warning") }}
          {{ form.stop_game(class="btn btn-danger") }}
          <!-- </div> -->
        </div>
      </div>
    </form>
  </div>

{% endblock %}
