{% extends "base.html" %}

<head>
<!--  -->

</head>

{% block content %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}"/>

<!-- <script src="{{ url_for('static', filename='js/game.js') }}"></script> -->

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {

      // Connect to websocket
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

      // When connected, configure buttons
      socket.on('connect', function() {
          // Register user
          socket.emit('join game', {data:''});

          document.getElementById("deal").onclick = function() {
            socket.emit('start round', {data:document.getElementById("nb_cards").value});
          }
      });

      socket.on('new hand', function(data) {
          $('#cards').html('');
          $('#cards').append('<ul>');
          for (var card in data) {
              // $('#cards').append('<br>' + data[card])
              image = 'img/' + data[card]+".svg"
              $('#cards').append('<td>'+
                "<img src={{ url_for('static', filename='') }}" +
                image + ' alt=' + data[card] +'>' + '</a>' + '</td>')
//              $('#cards').innerHTML += '<li>' + card + '</li>';
          }
          $('#cards').append('</ul>');
      });


      socket.on('new player', function(player_name) {
          // alert('new player joined')
          console.log("New Player joined: " + player_name)
          $('#players').append('<td>' + player_name + "</td>");
      });
  });
</script>

    <h2>Game Area - Game ID: {{ session['game_id'] }} </h2>
    <div>
        <h3>Players</h3>
        <div class="table-responsive">
        <table class="table">
          <tr id="players"></tr>
          {% for player in players -%}
            <td><h3>{{ player }}</h3> </td>
          {% endfor %}
        </table>
    </div>
    <div id="card-table">
    </div>
    <div>
      <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <div class="col-md-4">
            <div class="form-group">
              {{ form.nb_cards.label }}
              {{ form.nb_cards(size=2) }}
              <button id="deal" class="btn btn-primary" name="deal" type="button">Deal</button>
            </div>
            <br>
          </div>
      </form>
    </div>
    <p/>
    <div>
      <br/>
      <div class="table-responsive">
      <table class="table">
        <tr id="cards"></tr>
      </table>
    </div>
    </div>

<!--
    <div class="col-md-4">
      <div class="form-group">
        <input type="number" id="nb_card">Number of card</input>
        <button id="deal">Deal</button>
      </div>
    </div>
    <div id="Players">Players</div>
    <div id="cards">My Cards</div>
-->
{% endblock %}
