{% extends "base.html" %}


<!-- TODO:
Optimize js by declaring variables for elements frequently used
to limit the number of DOM traversals
Separate js from html -> problem with form variables
Add footer / contact info
Add sound effects
No refresh on player left
-->

{% block content %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}"/>
<script type="text/javascript">

  // Note that js cannot be separated from html as JINJA2 expressions are not
  // processed then during rendering

  var socket;
  var username = "{{ session['username'] }}";
  var ownername = "{{ session['ownername'] }}";
  var forbidden_bet;
  var last_player;
  var new_round = true;
  var first_card;
  var last_dealer;


  // $("#topnav").last().after("<p class='game_page_title'>Game ID: "  + "{{ session['game_id'] }}" + " - You are: " + "{{ session['username'] }}"+ "</p>")
  $("#topnav").last().after("<span class='game_page_title'>Game ID: "  + "{{ session['game_id'] }}" + " - You are: " + "{{ session['username'] }}"+ "</span>")


  function RecursiveUnbind($jElement) {
    // remove this element's and all of its children's click events
    $jElement.unbind();
    $jElement.removeAttr('onclick');
    $jElement.children().each(function () {
      RecursiveUnbind($(this));
    });
  }

  function make_players_inactive() {
    $("[name='player']").removeClass("active_player");
    $("[name='player']").addClass("normal_player");
  }

  function make_player_inactive(player_name) {
    $("#"+player_name).addClass("normal_player");
    $("#"+player_name).removeClass("active_player");
  }

  function make_player_active(player_name) {
    make_players_inactive()
    $("#"+player_name).removeClass("normal_player");
    $("#"+player_name).addClass("active_player");
  }

  function deal() {
    let trump_flag = $("#trump").is(":checked");
    socket.emit('start hand', document.getElementById("nb_cards").value,
    trump_flag);
    //make_player_inactive(username);
    //disable_deal();
    //$("#nb_cards").removeClass("highlighted_field");
  }

  function enable_deal() {
    document.getElementById("deal").onclick =function() {
      deal();
    }
    $("#deal").prop("disabled",false);
  }
  function disable_deal() {
    // Never disabled for game game_creator
    if (username != ownername) {
      RecursiveUnbind($("#deal"));
      $("#deal").prop("disabled",true);
    }
  }

  function card_played (card) {

    // Remove card from hand being displayed
    document.getElementById(card).remove();

    // Emit an event indicating a card has been card_played
    socket.emit('player played', {data:card});

    // Prevent player from playing again until round is finished
    RecursiveUnbind($('#cards'));

    // Remove borders on cards
    // $( '#cards img').each(function( index ) {
    //     $(this).removeClass("img_with_border");
    // });
    $( '#cards img').removeClass("img_with_border");

    make_player_inactive(username);
    // $("#"+username).removeClass("active_player");
    // $("#"+username).addClass("normal_player");
  }

  function show_alert(msg, title) {
    // alert("fsfd")
    $( "#dialog" ).html(msg);
    $( "#dialog" ).dialog({
      title:title,
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      }
    });
    $( "#dialog" ).dialog('open');
  }

  document.addEventListener('DOMContentLoaded', () => {

    // Hide dealing area if automated dealing used
    if ("{{ dealing_method }}" == "automated") {
      $("#dealing").hide();
    }
    else {
      $("#dealing").show();
    }


    // Commonly used DOM elements to reduce DOM searches
    var alert_elem = $("#dialog");

    // Prevent form to be submitted when user enter the number of cards to deal
    $('#nb_cards').keydown(function (e) {
      if (e.keyCode == 13) {
        e.preventDefault();
        return false;
      }
    });

    // Prevent form to be submitted when user enter a message in chat area
    $('#chat_input').keydown(function (e) {
      if (e.keyCode == 13) {
        e.preventDefault();
        // TODO send message
        post_msg();
        return false;
      }
    });

    if (username == ownername) {
      $("#game_action_buttons").append('<button id="start_game" class="btn btn-primary" name="start_game" type="button">Start Game</button>');
    }
    $("#game_action_buttons").append('{{ form.leave_game(class="btn btn-secondary") }}');
    if (username == ownername) {
      // $("#game_action_buttons").append('<button id="restart_round" class="btn btn-primary" name="restart_round" type="button">Restart Round</button>');
      $("#game_action_buttons").append('{{ form.stop_game(class="btn btn-warning") }}');
    }

    if ("{{ active_player }}" != "") {
          make_player_active("{{ active_player }}")
    }

    if (username == ownername) {
      enable_deal();
    }

    function post_msg() {
      socket.emit("client post", document.getElementById("chat_input").value);
      $("#chat_input").val("");
    }
    document.getElementById("post").onclick = function() {
      post_msg();
    }

    function start_game() {
      socket.emit('cs game started');
      //disable_start_game();
    }

    function enable_start_game() {
      if (username == ownername) {
        document.getElementById("start_game").onclick = function() {
          start_game();
        }
      }
      $("#start_game").prop("disabled",false);
    }

    // function enable_restart_round() {
    //   if (username == ownername) {
    //     document.getElementById("restart_round").onclick = function() {
    //       // TODO re-deal cards
    //       make_player_the_dealer(last_dealer);
    //     }
    //   }
    //   $("#start_game").prop("disabled",false);
    // }

    // Don't want to do that for now
    function disable_start_game() {
      RecursiveUnbind($("#start_game"));
      $("#start_game").prop("disabled",true);
    }

    $( '#dialog' ).dialog( { 'autoOpen': false } );

    function make_player_the_dealer(player_name) {
      make_player_active(player_name)

      // Enable Deal button for dealer
      if (username == player_name) {
        enable_deal();
        $("#nb_cards").addClass("highlighted_field");
        $("#nb_cards").focus();
      }
      else {
        $("#nb_cards").removeClass("highlighted_field");
      }
    }

    // Connect to websocket
    socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

    // When connected, configure buttons
    socket.on('connect', function() {

      // Register user - only used here to cover the case of
      // first player joining. DO NOT REMOVE
      socket.emit('join game', {data:''});

      enable_start_game();
      // enable_restart_round();
      disable_deal();
      make_players_inactive();
      // active_player = {{ active_player }}
      // make_player_active(active_player)

      // Register action for bet input field
      let id_bet = "#bets_" + username
      $(id_bet).change(function() {
        if (isNaN(parseInt($(id_bet).val(),10))) {
          show_alert ("Please enter an integer value", "Error")
          return;
        }
        bet = parseInt($(id_bet).val(),10);
        if (bet == forbidden_bet) {
          show_alert ("This bet is not allowed. Sum of bets cannot be equal to number of cards", "Error");
          return;
        }
        if (bet < 0) {
          show_alert ("This bet is not allowed. The bet has to be a positive number", "Error");
          return;
        }
        $(id_bet).attr('readonly', true);
        $(id_bet).removeClass("highlighted_field");

        // $("#"+username).removeClass("active_player");
        // $("#"+username).addClass("normal_player");
        make_player_active(username);
        socket.emit("player bet", $(id_bet).val())
      });
    });

    socket.on('game over', function(winners) {
      console.log("Game started event received")
      console.log(winners)
      nb_winner = 0
      winner_list = ""
      for (var player in winners) {
        winner_list = winner_list + " " + player
        nb_winner++
      }
      if (nb_winner == 1) {
        show_alert("Game over ! Winner is " + winner_list)
      }
      else {
        show_alert("Game over ! Winner(s) are " + winner_list)
      }
    });

    socket.on('sc game started', function(data) {
      console.log("Game started event received")
      console.log(data)
      $("input[name='bets']").attr('readonly', true);
      $("input[name='bets']").removeClass("highlighted_field");
      $("input[name='bets']").val('')
      $("input[name='rounds']").val(0);
      $("input[name='score']").val(0);

      dealer = data['player_to_deal'];
      nb_cards_to_deal = data['nb_cards']
      $('#cards').html('');
      $('#cards_played').empty()
      $('#trump_card').empty()

      // if cards to deal is > 0, then assume cards will be delt automtically.
      // So disable the Deal button.
      // Otherwise, do nothing
      if (nb_cards_to_deal > 0) {
        disable_deal();
      }
      else {
        make_player_active(dealer);
        // Enable deal button if player is dealer
        if (dealer == username) {
          enable_deal();
          $("#nb_cards").addClass("highlighted_field");
          $("#nb_cards").focus();
        }
        else {
          disable_deal();
          $("#nb_cards").removeClass("highlighted_field");
        }
      }
      //disable_start_game();
    });

    socket.on('new hand', function(cards) {
      make_players_inactive();
      $('#trump_card').html('')
      $('#cards').html('');
      $('#cards_played').empty()
      disable_deal();
      $("#nb_cards").removeClass("highlighted_field");

      // $('#cards').append('<ul>');
      for (var card_index in cards) {
        // $('#cards').append('<br>' + data[card])
        let card =cards[card_index]
        let image = 'img/' + card + ".svg"
        // let card = data[card]
        $('#cards').append('<td>'+
          "<img id=" + card + " src={{ url_for('static', filename='') }}" +
          image + ' alt=' + card + ' class="card_hand"' + '>' + '</td>')

          // Reset bets and wins to 0
          $('#rounds input').val(0);
          $('#bets input').val("");
        }
        // Update dealing Info
        $("#nb_cards").val(cards.length);
        // Trum checkbox wil be updated if/when trump card received
        $("#trump").prop('checked', false);
      });

    socket.on('player to bet', function(data) {
      player_name = data['player']
      forbidden_bet = data['forbidden_bet']

      // Enable the bet field if user is supposed to bet
      let id_bet = "#bets_" + player_name
      if (player_name == username) {
        play_sound("bicycle_bell.wav")
        $(id_bet).attr('readonly', false);
        $(id_bet).addClass("highlighted_field");
        $(id_bet).focus();
      }
      else {
        $(id_bet).attr('readonly', true);
        $(id_bet).removeClass("highlighted_field");
      }
      // Highlight Username
      make_player_active(player_name);
    });

    socket.on('player bet', function(data) {
      // Enable the bet field
      player_name=data['player']
      bet=data['bet']
      let id_bet = "#bets_" + player_name
      $(id_bet).val(bet);
      make_player_inactive(player_name);
      $(id_bet).removeClass("highlighted_field");
      // $("#"+player_name).removeClass("active_player");
      // $("#"+player_name).addClass("normal_player");
    });

    socket.on('player to play', function(data) {
      // Enable the cards in hand to be played
      // $("#"+player_name).addClass("active_player");
      // $("#"+player_name).removeClass("normal_player");
      player_name=data['player']
      allowed_cards = data['allowed_cards']
      make_player_active(player_name);
      if (player_name === username) {
        play_sound("bicycle_bell.wav")

        // TODO: only enable for allowed list of cards
        $( '#cards img').each(function( index ) {
          card = $(this).attr('id');
          if (allowed_cards.indexOf(card) > -1) {
            $(this).addClass("img_with_border");
            $(this).bind("click", (function () {
              card_played($(this).attr('id'))
            }));
          }
          else {
            $(this).removeClass("img_with_border");
          }
        });
      }
    });


    socket.on('hand completed', function(data) {
      player_name=data['player_to_deal']
      player_to_deal = player_name
      scores=data['scores']
      show_boostrap_alert("Hand completed. Next dealer is: " + player_name,"alert alert-warning")
      Object.keys(scores).forEach(function(player) {
        score = scores[player];
        let id_score = "#score_" + player
        $(id_score).val(score);
      });
      let image = 'img/' + trump_card + ".svg"
      $('#trump_card').html('')
      // Clear table
      $('#cards_played').empty()
      make_player_the_dealer(player_name);
    });

    function play_sound(audio_file) {
      const sound = new Audio()
      sound.src = {{ url_for('static', filename='') }} + "audio/" + audio_file
      sound.play()
    }

    socket.on('card played', function(data) {
      if (new_round) {
        // $('#cards_played').empty();
        new_round = false;
        first_card = data['card'];
      }
      let player_name = data['player']
      let card = data['card']
      // Display card on table

      let image = 'img/' + card + ".svg"
      // $(cards_played).append("<figure>");
      $('#cards_played').append("<img id=" + card + "_table"+ " src={{ url_for('static', filename='') }}" +
      image + ' alt=' + card + ' class="card_table"' + '>');

      // TOOD: this  does not work for some reason
      // play_sound("cardSlide5.wav");

      // Trying to display player name under card, but causes issues
      // $(cards_played).append("<figcaption><h3 class='trump_caption'>" + player_name +"</h3></figcaption>");
      // $(cards_played).append("</figure>");
      make_player_inactive(player_name);
      // $("#"+player_name).removeClass("active_player");
      // $("#"+player_name).addClass("normal_player");
      last_player = player_name
    });

    socket.on('new player', function(player_name) {
      socket.emit('join game', player_name);

      // Add player info
      $('#players').append("<td id='" + player_name + "' name='player'" + " class='normal_player'>" + player_name + "</td>");

      let id_bet = "bets_" + player_name;
      $("#bets").append("<td>" + "<label for=" + "'bets_" + player_name + "' class='player_info'>" + "Bets</label>" +
        "<input type='number' id='" + id_bet + "' name='bets' min=0 max=18 step=1 readonly>" +
        "</td>");

      let id_round = "rounds_" + player_name;
      $("#rounds").append("<td>" + "<label for=" + "'rounds_" + player_name + "' class='player_info'>" + "Wins</label>" +
        "<input type='number' id='" + id_round + "' name='rounds' min=0 max=18 readonly>" +
        "</td>");

      let id_score = "score_" + player_name;
      $("#scores").append("<td>" + "<label for=" + "'score_" + player_name + "' class='player_info'>" + "Score</label>" +
        "<input type='number' id='" + id_score + "' name='score' min=0 max=99 readonly>" +
        "</td>");

            //window.location.reload(false);
    });

    socket.on('player left', function(player_name) {
      socket.emit('leave game', player_name);
      if (player_name.localeCompare(username) != 0) {
        // TODO: remove elements instead of refresh, but low priority
        // ALso, notify user
        // Alert now shown as page is refreshed right away
        $("#" + player_name).remove()

        let id_bet = "#bets_" + player_name;
        $(id_bet).parent().remove()
        let id_round = "#rounds_" + player_name;
        $(id_round).parent().remove()
        let id_score = "#score_" + player_name;
        $(id_score).parent().remove()

        // window.location.reload(false);
        show_alert("User " + player_name + " left the game!", "Warning")
      }
    });

    socket.on('trump card', function(trump_card) {
      let image = 'img/' + trump_card + ".svg"
      $('#trump_card').html('')
      $('#trump_card').append("<figure>");
      $('#trump_card').append("<img src={{ url_for('static', filename='') }}" +
      image + ' alt=' + trump_card + 'width=80 height=80' + '>');
      $('#trump_card').append("<figcaption><h3 class='trump_caption'>Trump</h3></figcaption>");
      $('#trump_card').append("</figure>");
        // $('#trump_card').append("Trump")

        $("#trump").prop('checked', true);
      });

    socket.on('round ended', function(player_name) {
      show_boostrap_alert("Rounded ended. Winner is " + player_name,"alert alert-info")
      make_player_inactive(last_player);
      // $("#"+last_player).removeClass("active_player");
      // $("#"+last_player).addClass("normal_player");

      let id_rounds = "rounds_" + player_name
      var value = parseInt(document.getElementById(id_rounds).value, 10);
      value++;
      document.getElementById(id_rounds).value = value;
      new_round = true
      play_sound("applause2_x.wav")
    });

    socket.on('clear round', function() {
      $('#cards_played').empty();
    });

    socket.on('msg posted', function(data) {
      sender=data['sender'];
      msg = data['msg'];
      // Display messages
      textarea = $('#chat_text')
      content = textarea.val();
      textarea.val(content + sender + ": " + msg + "\n");
      textarea.animate({scrollTop:textarea[0].scrollHeight - textarea.height()},1000);
      // play_sound("beep.wav");
    });

    socket.on('alert', function(msg) {
      // TODO: replace with
      show_alert(msg, "Warning");
    });

    function show_boostrap_alert(message,alerttype) {
      $('#alert_placeholder').append('<div id="alertdiv" class="alert ' +  alerttype + '"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>')
      setTimeout(function() {
        $("#alertdiv").remove();
      }, 3000);
    };

  });
</script>

          <!-- //   COuld embedd the following html in a script as shown under so it can be re-used on player joined event
          //   rather than refreshing page
          //   <script id="blockOfStuff" type="text/html">
          //   Here's some random text.
          //   <h1>Including HTML markup</h1>
          //   And quotes too, or as one man said, "These are quotes, but
          //   'these' are quotes too."
          // </script>
          // -->

<div class="table-responsive">
  <table class="table">
    <tr id="players">
      {% for player in players -%}
      <td id="{{ player }}" name="player" class="normal_player">{{ player }} </td>
      {% endfor %}
    </tr>
    <tr id="bets">
      {% for player in players -%}
      <td>
        <label for="'bets_' + {{ player }}" class="player_info">Bets</label>
        <!-- TODO: should set bet to '' if it is -1 -->
        {% if bets[player] == -1 %}
        <input type="number" id="bets_{{ player }}" class="player_info" name="bets" min=0 max=18 value='' step=1 readonly>
        {% else %}
        <input type="number" id="bets_{{ player }}" class="player_info" name="bets" min=0 max=18 value={{ bets[player] }} step=1 readonly>
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    <tr id="rounds">
      {% for player in players -%}
      <td>
        <label for="'rounds_' + {{ player }}" class="player_info">Wins</label>
        <input type="number" id="rounds_{{ player }}" name="rounds" class="player_info" min=0 max=18 readonly value={{ wins[player] }}>
      </td>
      {% endfor %}
    </tr>
    <tr id=scores>
      {% for player in players -%}
      <td>
        <label for="'score_' + {{ player }}" class="player_info">Score</label>
        <input type="number" id="score_{{ player }}" name="score" class="player_info" min=0 max=99 readonly value={{ scores[player] }}>
      </td>
      {% endfor %}
    </tr>
  </table>
</div>

<div id="alert_placeholder"></div>
<div id="dialog" title="Basic dialog">
</div>

<div id="card-table" class="container">
  <div class="bottomright" id="trump_card">
    {% if trump != None %}
      <figure>
        <img src="{{ url_for('static', filename='') }}img/{{ trump }}.svg" alt=trump width=80 height=80>
        <figcaption><h3 class='trump_caption'>Trump</h3></figcaption>
      </figure>"
    {% endif %}
  </div>
  <div id="cards_played">
    <!-- TODO populate on refresh -->
    {% for card in cards_played -%}
    <img id= "{{ card }}_table" src="{{ url_for('static', filename='') }}img/{{ card }}.svg" alt="{{ card }}" class="card_table">
    {% endfor %}
  </div>
</div>

<div>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="container" id="dealing">
      <div class="col-md-8">
        <div class="form-group">
          <br>
          {{ form.nb_cards.label(class="deal") }}
          {{ form.nb_cards(size=2) }}
          {{ form.trump.label(class="deal") }}
          {{ form.trump }}
          <button id="deal" class="btn btn-primary" name="deal" type="button">Deal</button>
        </div>
        <br>
      </div>
    </div>
    <div>
      <div class="col-md-12" id="cards">
        <!-- <tr id="cards"></tr> -->
        {% for card in hand -%}
        <td>
          <img id= "{{ card }}" src="{{ url_for('static', filename='') }}img/{{ card }}.svg" class="card_hand">
          <!-- <img id= "{{ card }}" src="{{ url_for('static', filename='') }}img/{{ card }}.svg" onclick=card_played({{ card }})> -->
        </td>
        {% endfor %}
      </div>
    </div>
    <div class="chat" id="chat">
      <h4 class="chat_title">Chat</h4>
      <textarea id="chat_text" rows=5 cols=80 readonly></textarea><br>
      <input type="text" id="chat_input" class = "chat_input" size=77></input>
      <button id="post" class="btn btn-primary" name="post" type="button">Send</button>
    </div>
    <div class="container">
      <div id="game_action_buttons" class="btn-toolbar">
        <p><br>
        </div>
      </div>
    </form>
  </div>

{% endblock %}
