{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}"/>
<br><br>
<h2>{{ _('welcome_home') }}<br></h2>
<p><h3>{{ _('ṕick_game') }}: </p></h3>
<br>
<table id="game_list">
  <tr>
    <td>
      <a href="ohell_start">
      <img border="0" alt="Play Oh Hell" src="{{ url_for('static', filename='') }}img/{{ _('ohell_image') }}" width="200", height="150"></a>
    </td>
    <td>
      <a href="belote_start">
      <img border="0" alt="Play Belote" src="{{ url_for('static', filename='') }}img/belote.png" width="200", height="150"></a>
    </td>
    <td>
      <a href="contree_start">
      <img border="0" alt="Play Belote Contree" src="{{ url_for('static', filename='') }}img/contree.jpg" width="200", height="150"></a>
    </td>
  </tr>
</table>
<br><br>
  {% block footer %}
    {{ super() }}
  {% endblock %}
{% endblock %}
