{% extends "base.html" %}

{% block content %}
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
    <h2>Welcome to a place to play Romanian Whist with your friends!!! </h2>
    <p>Romanian Whist, also called Ascenseur or Oh Hell! is a fun card game that can be played by 3 to 7 players</p>
    <p>The <a href="#rules">rules</a> are fairly simple, it is perfect game to spend some time with family and friends</p>
    <br><br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

      <div class="container">
        <div class="row">
          <h3>Enter your alias for the game</h3>
          <div class="col-12">
            {{ form.user_name.label }}
            {{ form.user_name(size=10) }}
          </div>
        </div>
        <div class="row">
          <h3>Then choose one of the following options:</h3>
          <br/>
          <div class="span-6">
            <!-- <h2>Join a game</h2> -->
            {{ form.game_id.label }}
            {{ form.game_id(size=5) }}
            {{ form.join_game(class="btn btn-primary") }}
          </div>
          <h3>or</h3>
          <div class="span-6">
            <br/>
            <div class="input submit">
                {{ form.start_game(class="btn btn-primary") }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <br><br>
    <div id=rules>
      Rules of game: TODO
    </div>


    <!-- <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="col-md-4">
          <div class="form-group">
            {{ form.user_name.label }}
            {{ form.user_name(size=10) }}
          </div>
        </div>

          <div class="col-md-4">
            <div class="input submit">
                {{ form.start_game() }}
                {{ form.join_game() }}
            </div>
          </div>
    </form> -->
{% endblock %}
