{% extends "base.html" %}

{% block content %}
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
    <h2>Welcome to a place to play Romanian Whist with your friends!!! </h2>
    <p>Romanian Whist, also called Ascenseur or Oh Hell! is a fun card game that can be played by 3 to 7 players</p>
    <p>The <a href="#rules">rules</a> are fairly simple, it is perfect game to spend some time with family and friends</p>
    <br><br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

      <div class="container">
        <div class="row">
          <h3>Enter your alias for the game</h3>
          <div class="col-12">
            {{ form.user_name.label }}
            {{ form.user_name(size=10) }}
          </div>
        </div>
        <div class="row">
          <br><br>
          <h3>Then choose one of the following options:</h3>
          <br/>
          <div class="span-6">
            <!-- <h2>Join a game</h2> -->
            {{ form.join_game(class="btn btn-primary") }}
            {{ form.game_id.label }}
            {{ form.game_id(size=5) }}
          </div>
          <h3>or</h3>
          <div class="span-6">
            <br/>
            <div class="input submit">
                {{ form.start_game(class="btn btn-primary") }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <br><br>
    <div id=rules>
      <h2>Rules of game</h2>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat ante vitae nisi dapibus, quis porttitor turpis finibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean suscipit felis non ex laoreet bibendum. Vivamus id lacinia orci. Quisque iaculis dignissim ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla nec finibus ligula. Praesent faucibus in lacus vitae efficitur. Duis ut velit et urna luctus porttitor. Etiam a tortor eget velit lacinia commodo ut eu lacus. Fusce consectetur ullamcorper euismod.

Cras nec sollicitudin ligula, ut viverra massa. Nulla massa odio, malesuada in malesuada eget, aliquet elementum magna. Aliquam erat volutpat. Maecenas porta neque tellus, sed imperdiet risus pulvinar eu. Duis sodales eleifend felis vitae vulputate. Nullam ligula arcu, dictum nec erat nec, pulvinar euismod elit. Nunc at ante dui. Phasellus vel tempus lacus. Nam nisl arcu, varius in libero sed, finibus eleifend sem. Proin sodales nibh enim, sed aliquam libero egestas id. Vivamus ut lorem vel justo pulvinar vulputate vitae vel risus. Curabitur lacinia, nibh condimentum tincidunt ultricies, ligula augue lacinia nunc, in vehicula magna tellus vel orci. Donec non leo facilisis, porta arcu in, venenatis metus. Aliquam vitae commodo urna. Nunc cursus eu mauris sed iaculis.

Aliquam in justo ante. Phasellus posuere orci mi, id ullamcorper tellus tincidunt et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque vehicula, lorem ac consequat sagittis, nisi ex tristique est, vel mattis nisl metus in justo. Vestibulum orci tellus, pharetra laoreet arcu non, dictum scelerisque enim. Maecenas commodo condimentum consectetur. Fusce quis turpis sollicitudin, elementum ipsum at, laoreet nunc. Aenean eu purus ligula. Etiam dictum libero in ligula sagittis, ac scelerisque ligula luctus.

Sed gravida tortor eget posuere pharetra. Aliquam vehicula ultrices semper. Quisque ut posuere nibh, vitae faucibus quam. Curabitur pulvinar, tortor vel molestie placerat, tellus lorem posuere ipsum, non interdum nibh tortor eu diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas a erat tellus. Nunc sed faucibus augue, sed porta magna. In volutpat nisl nibh, sit amet fermentum ex malesuada ut. In in efficitur sapien.

Duis vestibulum mi eu lectus imperdiet, sed suscipit orci maximus. Proin sagittis quam et lorem ullamcorper, in congue nisl semper. Duis semper cursus tortor, ut facilisis ligula luctus at. Vivamus tristique, libero sit amet aliquam egestas, mauris turpis efficitur elit, sit amet viverra ipsum felis eu quam. Nunc rhoncus leo lorem, sed pellentesque nunc rutrum in. Nullam egestas lorem eu mollis lobortis. Mauris porttitor facilisis tellus sit amet tempus. Pellentesque consequat, arcu id tempus placerat, turpis erat condimentum elit, at fringilla sem lorem vitae neque. Duis quis laoreet purus. Maecenas maximus finibus ultricies. Fusce in risus ac nunc bibendum varius. Donec in risus non justo pharetra tristique. Vestibulum sit amet volutpat metus.
    </p>
    </div>


    <!-- <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="col-md-4">
          <div class="form-group">
            {{ form.user_name.label }}
            {{ form.user_name(size=10) }}
          </div>
        </div>

          <div class="col-md-4">
            <div class="input submit">
                {{ form.start_game() }}
                {{ form.join_game() }}
            </div>
          </div>
    </form> -->
{% endblock %}
