{% extends "base.html" %}

{% block content %}
  <img border="0" alt="Play Ohell" src="{{ url_for('static', filename='') }}img/ohell.png" height="100" align="right"></a>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}"/>

  {% if error %}
  <p class="error_msg"><strong>Error:</strong> {{ error }}</p>
  {% endif %}

  <script type="text/javascript">

    document.addEventListener('DOMContentLoaded', () => {

      function show_deal_fields() {
        $("#dealing_options").show()
      }
      function hide_deal_fields() {
        $("#dealing_options").hide()
      }

      $('#user_name').keydown(function (e) {
        if (e.keyCode == 13) {
          e.preventDefault();
          return false;
        }
      });
      $('#increment').keydown(function (e) {
        if (e.keyCode == 13) {
          e.preventDefault();
          return false;
        }
      });

      // Disable dealing options if manual dealing selected
      // Enable otherwise
      $("#deal_player").click(hide_deal_fields);
      $("#deal_computer").click(show_deal_fields);
    });

</script>

  <p><p>
  <h2>{% trans %}welcome_play_ohell{% endtrans %}</h2>
  <br><br>

  <form action="" method="post" novalidate  align="left">
      {{ form.hidden_tag() }}

    <div class="container">
      <h3>{% trans %}enter_alias{% endtrans %}</h3>
      <div class="row">
        <div class="col-12">
          {{ form.user_name.label }}
          {{ form.user_name(size=10) }}
        </div>
      </div>
      <br><br>
      <h3>{% trans %}choose_option{% endtrans %}</h3>
      <br>
      <div class="row">
        <br/>
        <div class="col-4 data_block">
          <h2>{% trans %}join_a_game{% endtrans %}</h2>
          <br/>
          {{ form.game_id.label }}
          {{ form.game_id(size=5) }}
          <br><br>
          {{ form.join_game(class="btn btn-primary") }}
        </div>
        <div class="col-2">
          <br><h3>&nbsp &nbsp or</h3>
        </div>
        <!-- <h3>or</h3> -->
        <div class="col-5 data_block">
          <div id="create_div">
            <h2>{{ _("create_new_game") }}</h2>
            <br/>
            <div id="create_options">
              {{ form.multiple_one_card.label }}
              {{ form.multiple_one_card }}
              <br>
              {{ form.multiple_no_trump.label }}
              {{ form.multiple_no_trump }}
              <br>
              {{ form.increment.label }}
              {{ form.increment(size=1) }}
            </div>
          </div>
          <br>
        {{ form.start_game(class="btn btn-primary") }}
        </div>
      </div>
    </div>
  </form>
  <br><br>

  {% if locale == "fr" %}
    {% include 'ohell_guide_fr.html' %}
  {% else %}
    {% include 'ohell_guide.html' %}
  {% endif %}

  <div>
    <h3>{% trans %}references{% endtrans %}: </h3>
    <a href="https://en.wikipedia.org/wiki/Romanian_whist">Wikipedia</a><br><br>
  {% block footer %}
    {{ super() }}
  {% endblock %}
{% endblock %}
