{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/game_common.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/poker.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}"/>

<script type="text/javascript">
  var socket;
  var username = "{{ session['username'] }}";
  var ownername = "{{ session['ownername'] }}";
  var static_folder="{{ url_for('static', filename='') }}";
  var the_players;
  var i18n_json = {{ i18n|tojson }};
  var i18n = JSON.parse(i18n_json);
  var messages_json = {{ messages|tojson }};
  var messages = JSON.parse(messages_json);
  var player_type = "{{ player_type }}";
  var poker_type = "{{ poker_type }}";
  var active_player = "{{ active_player }}";
  var community_cards = {{ community_cards|tojson }};
  var allowed_actions = {{ allowed_actions|tojson }};
  var game_phase = "{{ game_phase }}";
  var current_bet = {{ current_bet }};
  window._poker_current_bet = current_bet;
  window._poker_big_blind = {{ big_blind }};
  var embeddedGameState = {{ embedded_game_state|tojson }};

  populate_header ("{{ session['username'] }}", "{{ session['game_id'] }}",
                   "{{ url_for('static', filename='img/poker.png') }}")

  document.addEventListener('DOMContentLoaded', () => {
    setup_alertify();
    the_players = {{ players|safe }};
    initialize(the_players);
    initialize_poker_game(active_player, allowed_actions, game_phase);
    render_poker_board(community_cards || []);
    enable_start_game();

    socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/poker');
    registerSyncStateSocket(socket);

    socket.on('connect', function() {
      socket.emit('join game', {data:''});
    });

    register_poker_events();
  });
</script>

<div class="container">
  <div class="row">
    <div class="col-12">
      <strong>{% trans %}poker_type{% endtrans %}:</strong> {{ poker_type_label }}
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <strong>Phase:</strong> <span id="poker_phase_label">{{ phase_label }}</span>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <strong>Pot:</strong> $<span id="poker_pot_value">{{ pot }}</span>
    </div>
  </div>
</div>

<div class="table-responsive">
  <br>
  <table class="table-with-padding">
    <tr id="players">
      {% for player in players -%}
      <td id="label_{{ player }}"></td>
      <td id="name_{{ player }}" name="player" class="normal_player">{{ player }}</td>
      {% endfor %}
    </tr>
    <tr id="money_row">
      {% for player in players -%}
      <td class="td_player_info_label">
        <label for="money_{{ player }}" id="label_money_{{ player }}" class="player_info">{{ _('money') }}</label>
      </td>
      <td class="td_player_info">
        <input type="text" id="money_{{ player }}" class="player_info" value="{{ money[player] if money is defined and player in money else 0 }}" readonly>
      </td>
      {% endfor %}
    </tr>
    <tr id="bets_round_row">
      {% for player in players -%}
      <td class="td_player_info_label">
        <label for="bet_round_{{ player }}" class="player_info">{{ _('bet') }}</label>
      </td>
      <td class="td_player_info">
        <input type="text" id="bet_round_{{ player }}" class="player_info"
               value="{{ bets_this_round[player] if bets_this_round is defined and player in bets_this_round else 0 }}" readonly>
      </td>
      {% endfor %}
    </tr>
  </table>
</div>

<div id="card-table-poker" class="container">
  <div id="poker_board"></div>
  <div id="cards_played"></div>
</div>

{% include 'msg_container.html' %}

<div>
  <form id="game_form" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <input type="hidden" id="action_game" name="action_game" value="" />
    <br>
    <div class="col-md-12" id="cards"></div>

    {% include 'chat.html' %}

    <div id="buttons-div">
      <div id="game_action_buttons" class="btn-toolbar">
        <p><br>
      </div>
    </div>

    {% block footer %}
      {{ super() }}
    {% endblock %}
  </form>
</div>
{% endblock %}
