html {
	background-color:#092E20;
}

.card_hand {
	width: 80px
}

.card_table {
	width:80px
}

.player_info {
	font-size: small;
	font-weight: normal;
}

.game_page_title{
		font-size: medium;
		text-align: center;
		font-weight: bold;
		color: darkred;
}

/* Remove up and down arrow in integer input field */
input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button
 {
  -webkit-appearance: none;
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

.active_player {
	font-weight: bold;
	color: red;
}

.deal {
	font-size: medium;
}
.normal_player {
	font-weight: bold;
	color: black;
}

.trump_caption {
	font-weight: bold;
	color:white;
	text-align: center;
}
#buttons {
	text-align:center;
}

a img {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

/*button {
	height:30px;
	width:100px;
	margin:8px auto;
} */
img.preload {
	display:none;
}

#card-table {
	background-color:green;
	height:300px;
	width:100%;
	border:solid 6px brown;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	box-shadow:#111 1px 1px 2px;
}
a:visited {color:blue;}

/*
#deal {
	position: absolute;
	left:310px;
	top:170px;
} */

footer {
	font-size : 12px;
	color:grey;
	margin:10px;
}

footer a, footer a:visited{
	color:grey;
}

footer a:hover {
	color:black;
}

.container {
  position: relative;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
