html {
}

body
{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.card_hand {
	width: 80px
}

.card_table {
	width:80px
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.player_info {
	font-size: small;
	font-weight: normal;
	padding-right:10px;
}

.active_player {
	font-weight: bold;
	color: darkred;
	animation: blinker 1s step-start infinite;
}

.normal_player {
	font-weight: bold;
	color: black;
}

#game_action_buttons {
	padding-top:20px;
}

#cards {
	padding-bottom:10px;
}

#topnav{
	font-size: large;
	display:inline-block;
}
.game_page_title{
		font-size: medium;
		text-align: right;
		font-weight: bold;
		color: darkblue;
		padding-left:100px;
}

.alert_text {
	color: darkgrey;
}

input[type=number].highlighted_field {
  background-color: #ffff99;
}

.highlighted_field {
	background-color:#ffff99;
}
.img_with_border {
  border: 2px solid green;
}

/* Remove up and down arrow in integer input field */
input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button
 {
  -webkit-appearance: none;
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

.deal {
	font-size: medium;
}
.trump_caption {
	font-weight: bold;
	color:white;
	text-align: center;
}
#buttons {
	text-align:center;
}

a img {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

/*button {
	height:30px;
	width:100px;
	margin:8px auto;
} */
img.preload {
	display:none;
}

#card-table {
	background-color:green;
	height:250px;
	width:100%;
	border:solid 6px brown;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	box-shadow:#111 1px 1px 2px;
}
a:visited {color:blue;}

/*
#deal {
	position: absolute;
	left:310px;
	top:170px;
} */

footer {
	font-size : 12px;
	color:grey;
	margin:10px;
}

footer a, footer a:visited{
	color:grey;
}

footer a:hover {
	color:black;
}

.data_block {
	background-color: #f0f0f5;
	padding-right:10px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
}

.container {
  position: relative;
}

#dealing {
	padding-right:5px;
	padding-left:5px;

}
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
